{% extends 'base.html' %}{% load staticfiles %}
{% block title %}الرئيسية{% endblock %}
{% block header %}
                        <h1>أهلا بكم!</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                        </ol>
{% endblock %}
{% block content %}
<div class="text-center">
<p style="font-size: 25px;">أهلا بكم في بوابة المجلس الطلابي الاستشاري!</p> <br>
    <p>من خلال بوّابة ترابط، يشترك الطلاب والطالبات في رسم مسار العمل الطلابي وفي إيصال أصواتهم!
    <br><br>
        أُريدَ لهذه البوّابة أن تجعل المشاركة في صنع القرار عملًا فاعلًا متيسرًا لكل الطلاب والطالبات في المدن الثلاث في جامعة الملك سعود بن عبد العزيز للعلوم الصحيّة.
    </p>
</div>
{% endblock %}



