{% extends 'base.html' %}{% load staticfiles %} {% block title %}الرئيسية{% endblock %} {% block header %}
<h1>أهلا بكم!</h1>
<small>بوابة ترابط</small>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
</ol>
{% endblock %} {% block content %}
<style>
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .panel{
      height: 100%;
    }
    .panel img{
      margin-right: auto;
      margin-left: auto;
      max-height: 200px;
    }
    .row-eq-height a{
      color: inherit;
    }
    .row-eq-height h2{
      margin-top: 20px;
    }
</style>
<p class="text-center" style="font-size: 25px;">أهلا بكم في بوابة المجلس الطلابي الاستشاري!</p>

<p>البوابة الآم مفتوحة للترشّح:</p>
<div class="row row-eq-height">
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 text-center">
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="statistic-box">
                    <a href="{% url 'voting:list_positions' 'club' %}">
                        <img class="img-responsive" src="{% static 'images/logos/student-club.png' %}">
                        <h2>نادي الطلاب</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="statistic-box">
                    <a href="{% url 'voting:list_positions' 'council' %}">
                        <img class="img-responsive" src="{% static 'images/logos/logo-no-text.png' %}">
                        <h2>المجلس الاستشاري الطلابي</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
