{% extends 'accounts/userena_base_new.html' %}
{% load i18n %}

{% block subtitle %}التسجيل{% endblock %}

{% block content %}






<div class="container" align="right" DIR="rtl">
  <div class="row">
    <div class="col-lg-12">
      <center>
        <img src="/static/used img/SAC Logo No name.png" alt="SAC" align="middle" vspace="20" height="150">
      </center>
      <h2 align="center">بوابة ترابط | نموذج التسجيل</h2>
      <form action="" method="post">
            {% csrf_token %}
        <div class="form-group">

        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field.errors }}
            {# Displaying checkboxes differently #}
            {% if field.name == 'tos' %}
            <label for="id_{{ field.name }}"></label>
            <input type="text" class="form-control" id="id_{{ field.name }}">
            {% endif %}


            {% if field.name == 'gender' %}
            <label for="gender">طالب أم طالبة؟</label>
            <select class="form-control" id="gender">
               <option>طالب</option>
               <option>طالبة</option>
            </select>


            {% elif field.name == 'city' %}
            <label for="city">المدينة</label>
            <select class="form-control" id="city">
                <option>الرياض</option>
                <option>جدة</option>
                <option>الأحساء</option>
            </select>

            {% elif field.name == 'college' %}
            <label for="college">الكلية</label>
              <select class="form-control" id="college">
                <option>كلية الطب</option>
                <option>كلية العلوم الطبية التطبيقية</option>
                <option>كلية الصيدلة</option>
                <option>كلية طب الأسنان</option>
                <option>كلية العلوم و المهن الصحية</option>
                <option>كلية التمريض</option>
                <option>كلية الصحة العامة والمعلوماتية الصحية</option>
              </select>



            {% else %}
            <label>{{ field.label_tag }}</label>
            <input type="text" class="form-control">

            {% endif %}
        {% endfor %}


    <br><br>
    <p align="center">
    <input class="btn btn-success" type="submit" value="{% trans "سجّل"%}" />
    </p>

        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
