{% extends 'accounts/base.html' %}{% load bootstrap3 %}
{% block title %}التسجيل{% endblock %}
{% block content %}

 

{% bootstrap_form_errors form %}


                <div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe-7s-unlock"></i>
                            </div>
                            <div class="header-title">
                                <h3>التسجيل</h3>
                                <small><strong>الرجاء إدخال البيانات أدناه للتسجيل.</strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="post" id="loginForm" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                <h4 class="text-center">الاسم بالعربيّة</h4>
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                    {% bootstrap_field form.ar_first_name %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                    {% bootstrap_field form.ar_middle_name %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                    {% bootstrap_field form.ar_last_name %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                <hr>
                                <h4 class="text-center">الاسم بالإنجليزية</h4>
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.en_first_name %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.en_middle_name %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.en_last_name %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    <hr>
                                    {% bootstrap_field form.email %}
                                    <span class="help-block small">التسجيل في بوابة ترابط مقتصر على طلاب وطالبات جامعة الملك سعود بن عبد العزيز للعلوم الصحيّة.</span>
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.mobile_number %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.student_id %}
                                    <span class="help-block small">هذا هو الرقم الذي يبدأ بسنة دخولك للجامعة، مثلا: 34-080-0101</span>
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.gender %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.city %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2 english-field">
                                    {% bootstrap_field form.college %}
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                    {% bootstrap_field form.password1 %}
                                    <span class="help-block small">كلمة سرّك التي لا يحزرها أحد!</span>
                                </div>
                                <div class="form-group col-lg-8 col-lg-offset-2">
                                    {% bootstrap_field form.password2 %}
                                    <span class="help-block small">أعد كتابة كلمة السرّ رجاءً</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 checkbox checkbox-success">
                                    <input id="checkbox" type="checkbox">
                                    <label for="checkbox">أقر بأن جميع المعلومات التي تم تعبئتها في نموذج التسجيل  صحيحة وأنه في حال اكتشاف أي معلومات مغلوطة يحق للجنة الانتخابات استبعادي من العملية الانتخابية وذلك يشمل التصويت والترشّح.</label>
                                </div>
                            </div>

                            <div>
                                <button id="submit" disabled class="btn btn-warning">سجّلني</button>
                            </div>
                        </form>
                    </div>
                </div>
{% endblock %}
{% block customscript %}
<script>
$(function(){
   $("input[type=checkbox]").change(function(){
      if ($("input[type=checkbox]:checked").length == 1){
       $("#submit").removeAttr('disabled');
      } else {
       $("#submit").attr('disabled', 'disabled');
      }
   })
});
</script>
{% endblock %}
