{% extends 'base.html' %}

{% block title %}عن المجلس{% endblock %}

{% block header %}
                        <h1>عن المجلس</h1>
<style>
    h4{
        font-family: "GE Dinar One"
    }
</style>
{% endblock %}

{% block content %}



<h4>تعريف المجلس الاستشاري الطلابي:</h4>

هو مجلس طلابي من مختلف كليات الجامعة ويرتبط بإدارة الجامعة لتمثيل طلاب الجامعة ومقترحاتهم.



<h4>الرؤية:</h4>

تعزيز الشراكة الطلابية مع إدارة الجامعة في شؤون الجامعة الأكاديمية والطلابية لتهيئة بيئة طلابية متميزة تنمي انتماء الطالب وثقته بالبيئة الجامعية التي يعيش فيها.



<h4>الأهداف:</h4>
1.تعزيز جسور التواصل بين إدارة الجامعة وطلابها لتطوير العملية الأكاديمية والتربويـة والخدمية بالجامعة.
<br>
2.توفير قناة تواصل آمنة يلجأ إليها الطلاب للتعبير عن وجهة نظرهم في أي أمر يخص حياتهم الجامعية.
<br>
3.توسيع المشاركة الطلابية المحفزة والمنتجة في البيئة الأكاديمية والشؤون الطلابية.
<br>
4.بناء جيل قادر على القيادة والبناء من خلال منح الطلاب فرصة المشاركة في صناعة القرار.
<br>
5.تلمس وجهات نظر الطلاب حيال ما يقدم لهم داخل الجامعة مـن فعاليات أكاديميـة ولاصفية وخدمات طلابية  وإيصال صوتهم لصاحب الصلاحية في إدارة الجامعة.
<br>
6.تقديم المقترحات والحلول لإدارة الجامعة في المجالات التي تهم الطلاب.
<br>
7.توفير جو محفز لتلقي المعارف وبيئة خصبة لتعزيز الأخلاق الحميدة والانتماء للجامعة والوطن.



<h4>المسؤوليات والالتزامات:</h4>
•المساهمة في متابعة تنفيذ قوانين وتعليمات وسياسات الجامعة التي تصون وتعزز حقوق الطلاب.
<br>
•‌تمثيل طلاب الجامعة، بالتعبير عن آرائهم، ومقترحاتهم، وشكاويهم بطريقة حضارية ونظامية من خلال القنوات الرسمية حفاظًا على سمعة الجامعة.
<br>
•‌إطلاع إدارة الجامعة باهتمامات طلاب الجامعة ومشاكلهم المتعلقة بالكليات والعمادات والإدارات المساندة، واقتراح حلول عملية لها.
<br>
•‌تنسيق انتخابات مختلف المناصب الطلابية في الجامعة والإشراف عليها لضمان نزاهتها وعدالتها، وذلك بالتنسيق مع عمادات الجامعة المختلفة.
<br>
•‌استعمال وسائل تواصل ملائمة لإيصال أخبار المجلس لطلاب الجامعة واستقبال آرائهم.
<br>
•‌تأسيس لجان فرعية من أعضاء المجلس لدراسة قضايا محددة تهم الطلاب، أو لإنجاز مشروع واسع النطاق يهم المجتمع الجامعي.
<br>
•‌عقد جلسات عامة وذلك على النحو الآتي:
<br>
◦يدعو رئيس المجلس لانعقاد الجلسات العامة والتي يستطيع جميع طلاب الجامعة المشاركة فيها كملتقى لتبادل الآراء والمعلومات والاستشارات مع المجلس.
<br>
◦تعقد مرتين على الأقل خلال العام الأكاديمي. (جلسة واحدة في كل فصل دراسي)




{% endblock %}
