{% extends 'base.html' %}

{% block title %}شروط الترشح لمناصب نادي الطلاب{% endblock %}

{% block header %}
                        <h1>شروط الترشح لمناصب نادي الطلاب</h1>
<style>
    h4{
        font-family: "GE Dinar One"
    }
</style>
{% endblock %}

{% block content %}
<h4>الشروط العامة للترشح:</h4>
أ. أن ﯾﻜﻮن طﺎﻟﺒًﺎ ﻣﻨﺘﻈﻤًﺎ ﺧﻼل اﻟﻌﺎم اﻷﻛﺎدﯾﻤﻲ السابق، وﻻ ﯾﺤﻖ ﻟﻄﻼب ﺳﻨﺔ اﻻﻣﺘﯿﺎز اﻟﺘﺮﺷﺢ ﻟﻼﻧﺘﺨﺎﺑﺎت.
<br>
ب. اﻟﺘﺮﺷﺢ ﯾﻌﻨﻲ ﻣﻠﻜﯿﺔ ﺧﻄﻂ وأﻓﻜﺎر اﻟﻤﺘﻘﺪﻣﯿﻦ ﻟﻠﻌﻤﺎدة ﺣﺘﻰ ﻓﻲ ﺣﺎﻟﺔ ﻋﺪم اﻟﻔﻮز.
<br>
ج. اﻟﺘﺮﺷﺢ ھﻮ ﻣﻮاﻓﻘﺔ وإﻗﺮار ﺑﻌﺪم اﻻﻧﺴﺤﺎب ﺑﻌﺪ اﻟﻔﻮز إﻻ ﺑﻈﺮوف ﺗﻮاﻓﻖ ﻋﻠﯿﮭﺎ اﻟﻌﻤﺎدة.
<br>
د. ﻟﺘﺮﺷﺢ إﻗﺮار ﺑﻌﺪم اﻟﺒﻮح ﺑﺄي ﻣﻦ أﺳﺮار ﻧﺎدي اﻟﻄﻼب.
<br>
ه. ﻻﯾﺤﻖ ﻟﻠﻤﺘﺮﺷﺢ اﻻﺳﺘﻔﺴﺎر ﻋﻦ ﺳﺒﺐ ﺧﺮوجه ﻣﻦ اﻟﻤﻨﺎﻓﺴﺔ ﺧﻼل أي ﻣﻦ ﻣﺮاﺣﻠﮭﺎ.
<br>
و. ﻋﻨﺪ ﺗﻨﺎﻓﺲ ﻋﺪد ﻛﺒﯿﺮ ﻟﻤﻨﺼﺐ ﻣﻌﯿﻦ ﺳﯿﺘﻢ اﺧﺘﯿﺎر أﻓﻀﻞ ﺧﻤﺴﺔ ﺧﻄﻂ وﺳﯿﺮ ذاﺗﯿﺔ ﻓﻘﻂ واﻻﺧﺘﯿﺎر ﺳﺘﻘﺮره ﻟﺠﻨﺔ الترشيحات.
<br>
ز. أن ﯾﻜﻮن اﻟﻤﺘﺮﺷﺢ ﺣﺴﻦ اﻟﺴﯿﺮة واﻟﺴﻠﻮك وأﻻ ﯾﻜﻮن ﻟﺪيه ﻋﻮاﺋﻖ أﻛﺎدﯾﻤﯿﺔ أو أﺧﻼﻗﯿﺔ.
<br>
ح. أﻻﯾﻘﻞ المعدل ﻋﻦ 3.25 ﻣﻦ .5
<br>
ط. ﻻﯾﺤﻖ ﻟﻠﻄﺎﻟﺐ اﻟﺘﺮﺷﺢ ﻟﻨﻔﺲ اﻟﻤﻨﺼﺐ ﻷﻛﺜﺮ ﻣﻦ ﻋﺎﻣﯿﻦ ﻣﺘﺘﺎﻟﯿﻦ.
<br>
ي. ﯾﺤﻖ ﻟﻠﺠﻨﺔ الترشيحات ﺗﻌﺪﯾﻞ اﻟﺸﺮوط واﻵﻟﯿﺎت وﺗﺮﺷﯿﺢ ﻣﻦ ﺗﺮى ﻣﻨﺎﺳﺒﺎ ﻋﻨﺪ اﻟﺤﺎﺟﺔ ﻟﺬﻟﻚ.

<br><br>

<h4>الشروط الخاصة لمنصب رئيس نادي الطلاب:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب.  أن ﯾﻜﻮن ﻋﻤﻞ ﻓﻲ اﻟﻨﺎدي ﻟﻌﺎﻣﯿﻦ ﻋﻠﻰ اﻷﻗﻞ (إﺣﺪاها ﻓﻲ ﻣﻨﺼﺐ ﻗﯿﺎدي).
<br>
✓ اﻟﻤﻨﺼﺐ اﻟﻘﯿﺎدي ﻻ ﯾﺸﻤﻞ اﻟﻌﻀﻮﯾﺎت (ﻓﻲ أي ﻣﻦ ﻓﺮوع اﻟﻨﺎدي) وﻻ ﻗﺎدة اﻟﻔﺮق ﻓﻲ أﻧﺪﯾﺔ اﻟﻜﻠﯿﺎت.
<br>
ج. أﻻ ﯾﻘﻞ ﻣﻌﺪﻟﮫ ﻋﻦ 4 ﻣﻦ .5
<br>
د. ھﺬا اﻟﻤﻨﺼﺐ ﻣﺘﺎح ﻟﻠﻄﻼب ﻓﻘﻂ (ﻓﻲ ﻓﺮع اﻟﺮﯾﺎض).
<br>
ه. ﺳﯿﻜﻮن ترشيحه ﺑﺎﻵﻟﯿﺔ اﻟﺘﺎﻟﯿﺔ %50) ﻟﻠﻄﻼب؛ %50 ﻟﻌﻤﺎدة ﺷﺆون اﻟﻄﻼب ورﺋﯿﺲ ﻧﺎدي اﻟﻄﻼب اﻟﺤﺎﻟﻲ).
<br>
✓ اﻟﻌﻤﺎدة ﺗﻘﺴﻢ ﻓﯿﮭﺎ اﻟﻨﺴﺒﺔ ﻛﺎﻟﺘﺎﻟﻲ:
<br>
%30.1 ﻟﻠﻌﻤﯿﺪ واﻟﻌﻤﺪاء اﻟﻤﺸﺎرﻛﯿﻦ ﻓﻲ ﻋﻤﺎدة ﺷﺆون اﻟﻄﻼب.
<br>
%10.2 ﻹدارة اﻷﻧﺸﻄﺔ اﻟﻄﻼﺑﯿﺔ ﻓﻲ ﻋﻤﺎدة ﺷﺆون اﻟﻄﻼب.
<br>
%10.3 ﻟﺮﺋﯿﺲ ﻧﺎدي اﻟﻄﻼب اﻟﺤﺎﻟﻲ.
<br>
و. سيتم عرض جميع خطط المرشحين (بعد ترميزها) على العمادة ولجنة الترشيحات لتقييمها واستبعاد الخطط التي لا تنطبق عليها شروط اللوائح.

<br><br>

<h4>الشروط الخاصة لمنصب نائب رئيس نادي الطلاب:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب.  أن ﯾﻜﻮن ﻋﻤﻞ ﻓﻲ اﻟﻨﺎدي ﻟﻌﺎم ﻋﻠﻰ اﻷﻗﻞ في منصب قيادي.
<br>
✓ اﻟﻤﻨﺼﺐ اﻟﻘﯿﺎدي ﻻ ﯾﺸﻤﻞ اﻟﻌﻀﻮﯾﺎت.
<br>
ج. سيكون الترشيح بالآلية التالية:
<br>
1. ﺗﺼﻮﯾﺖ طﻼب وطﺎﻟﺒﺎت اﻟﺠﺎﻣﻌﺔ.
<br>
2. ﺑﺎﻹﺿﺎﻓﺔ ﻟﺘﺼﻮﯾﺖ ﻋﻤﯿﺪ ﺷﺆون اﻟﻄﻼب واﻟﻌﻤﺪاء اﻟﻤﺸﺎرﻛﯿﻦ وإدارة ﺷﺆون اﻟﻄﻼب ﺑﺎﻟﻌﻤﺎدة (ﺗﺤﺘﺴﺐ اﻷﺻﻮات ﻛﺒﻘﯿﺔ أﺻﻮات اﻟﻄﻼب).

<br><br>

<h4>الشروط الخاصة لمنصب رئيس المركز الإعلامي:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب. أن ﯾﻜﻮن ﻋﻤﻞ ﻓﻲ اﻟﻨﺎدي ﻟﻌﺎم.
<br>
✓ ﯾﺸﻤﻞ اﻷﻋﻀﺎء اﻟﻔﺎﻋﻠﯿﻦ ﻓﻲ ﻓﺮوع اﻟﻨﺎدي
<br>
ج. ﺳﯿﻜﻮن الترشيح ﺑﺎﻵﻟﯿﺔ اﻟﺘﺎﻟﯿﺔ:
<br>
1. ﺗﺼﻮﯾﺖ طﻼب وطﺎﻟﺒﺎت اﻟﺠﺎﻣﻌﺔ.
<br>
2. ﺑﺎﻹﺿﺎﻓﺔ ﻟﺘﺼﻮﯾﺖ ﻋﻤﯿﺪ ﺷﺆون اﻟﻄﻼب واﻟﻌﻤﺪاء اﻟﻤﺸﺎرﻛﯿﻦ وإدارة ﺷﺆون اﻟﻄﻼب ﺑﺎﻟﻌﻤﺎدة (ﺗﺤﺘﺴﺐ اﻷﺻﻮات ﻛﺒﻘﯿﺔ أﺻﻮات اﻟﻄﻼب).

<br><br>

<h4>الشروط الخاصة لمنصب مساعدو رئيس النادي:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
  ب. ﯾﺘﻢ ﺗﺮﺷﯿﺤﮭﻢ ﻣﻦ ﻗﺒﻞ رﺋﯿﺲ اﻟﻨﺎدي ﻟﻤﺴﺎﻋﺪﺗﮫ ﻓﻲ إدارة ﺷﺆون ﻧﺎدي اﻟﻄﻼب ﺧﻼل ﺷﮭﺮ ﻣﻦ ترشيح رﺋﯿﺲ ﻧﺎدي اﻟﻄﻼب (ﻛﺈﻧﺠﺎز وﻧﻘﺎطﻲ وﻏﯿﺮھﺎ).
<br>
ج. ﯾﺠﺐ أن ﺗﻮاﻓﻖ ﻟﺠﻨﺔ الترشيحات وﻋﻤﺎدة ﺷﺆون اﻟﻄﻼب ﻋﻠﻰ ﺗﻌﯿﯿﻦ اﻟﻤﺴﺎﻋﺪﯾﻦ.

<br><br>

<h4>الشروط الخاصة لممثلو ﻧﺎدي اﻟﻄﻼب ﺑﺎﻟﻜﻠﯿﺎت:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب. ﺳﯿﻜﻮن الترشيح ﺑﺎﻵﻟﯿﺔ اﻟﺘﺎﻟﯿﺔ:
<br>
✓ ﺗﺼﻮﯾﺖ طﻼب اﻟﻜﻠﯿﺔ ﻓﻘﻂ.
<br>
ج. اﻛﺘﻤﺎل اﻟﻔﺮﯾﻖ ﺧﻼل اﻟﺘﺮﺷﺢ (ﯾﺤﻮي ﻗﺎدة اﻟﻔﺮق: اﻟﺜﻘﺎﻓﻲ واﻹﻋﻼﻣﻲ واﻻﺟﺘﻤﺎﻋﻲ واﻟﺮﯾﺎﺿﻲ/اﻟﺘﺮﻓﯿﮭﻲ).
<br>
د. ﯾﺸﺘﺮط ﻋﺪم اﻋﺘﺮاض ﻋﻤﺎدة اﻟﻜﻠﯿﺎت ﻋﻠﻰ اﻟﻄﺎﻟﺐ اﻟﻤﺘﺮﺷﺢ (ﺧﻼل اﻟﻔﺘﺮة اﻟﺘﻲ ﺗﺤﺪدھﺎ ﻟﺠﻨﺔ اﻻﻧﺘﺨﺎﺑﺎت).
<br>
ه. أن ﯾﺘﺮﺷﺢ اﻟﻨﺎدي ﺑﺎﻟﺤﺪ اﻷدﻧﻰ ﻣﻦ اﻷﻧﺸﻄﺔ ﺧﻼل اﻟﻌﺎم اﻷﻛﺎدﯾﻤﻲ القادم.
<br>
✓ اﻟﺤﺪ اﻷدﻧﻰ ھﻮ: ٣ ﻟﻘﺎءات ﻋﺎﻣﺔ وﻣﺴﺎﺑﻘﺔ ﺛﻘﺎﻓﯿﺔ وﺑﺮﻧﺎﻣﺠﯿﻦ ﻟﻠﻘﺮاءة وﺑﺮﻧﺎﻣﺞ اﺟﺘﻤﺎﻋﻲ وﻣﺴﺎﺑﻘﺔ ﺗﺮﻓﯿﮭﯿﺔ (رﯾﺎﺿﯿﺔ) ﻛﻞ ﻓﺼﻞ دراﺳﻲ.
<br>
و. أﻻ ﯾﻘﻞ ﻋﺪد طﻼب اﻟﻜﻠﯿﺔ ﻋﻦ 50 طﺎﻟﺒﺎ ﺧﻼل اﻟﻌﺎم اﻷﻛﺎدﯾﻤﻲ اﻟﻘﺎدم.
<br>
✓ ﻓﻲ ﺣﺎﻟﺔ ﻛﺎن اﻟﻌﺪد أﻗﻞ ﻣﻦ 50 طﺎﻟﺒﺎ ﯾﺘﻢ ﺗﺮﺷﯿﺢ ﻣﺴﺎﻋﺪا ﻟﻠﻤﻤﺜﻞ ﻓﻲ اﻟﻨﺎدي اﻟﻤﺸﺎﺑﮫ وﯾﻜﻮن ﻣﺴﺆوﻻ ﻋﻦ ﺗﻨﻈﯿﻢ اﻷﻧﺸﻄﺔ ﻓﻲ اﻟﻜﻠﯿﺔ اﻟﻤﻌﻨﯿﺔ.

<br><br>

<h4>الشروط الخاصة لمناصب رؤﺳﺎء اﻷﻧﺪﯾﺔ اﻟﻔﺮﻋﯿﺔ:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب. أن ﯾﺘﻘﺪم ﺑﺨﻄﺔ ﺗﺤﺘﻮي ﻋﻠﻰ اﻟﺤﺪ اﻷدﻧﻰ ﻣﻦ اﻟﺒﺮاﻣﺞ:
<br>
✓ اﻟﺤﺪ اﻷدﻧﻰ ﺛﻤﺎﻧﯿﺔ أﻧﺸﻄﺔ ﻏﯿﺮ ﻣﻜﺮرة ﻛﺤﺪ أدﻧﻰ ﻣﻊ آﻟﯿﺎت ﺗﻨﻔﯿﺬھﺎ.
<br>
ج. ﺳﯿﻜﻮن الترشيح ﺑﺎﻵﻟﯿﺔ اﻟﺘﺎﻟﯿﺔ:
<br>
✓ تصويت طﻼب وطﺎﻟﺒﺎت اﻟﺠﺎﻣﻌﺔ (ﺑﺤﺴﺐ اﻟﻔﺮع).

<br><br>

<h4>الشروط الخاصة لمنصب ﻣﺴﺆول ﺑﺮﻧﺎﻣﺞ أرﺷﺪﻧﻲ:</h4>
أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب. أن ﯾﻜﻮن ﻋﻤﻞ ﻓﻲ اﻟﻨﺎدي ﻟﻌﺎم.
<br>
✓ ﯾﺸﻤﻞ اﻷﻋﻀﺎء اﻟﻔﺎﻋﻠﯿﻦ ﻓﻲ ﻓﺮوع اﻟﻨﺎدي.
<br>
ج. أﻻ ﯾﻘﻞ ﻣﻌﺪﻟﮫ ﻋﻦ 4 ﻣﻦ .5
<br>
د. ﺳﯿﻜﻮن الترشيح ﺑﺎﻵﻟﯿﺔ اﻟﺘﺎﻟﯿﺔ:
<br>
✓ تصويت طلاب وطالبات الجامعة (بحسب الفرع).

{% endblock %}

