{% extends 'base.html' %}

{% block title %}شروط الترشح لمناصب المجلس الاستشاري الطلابي{% endblock %}

{% block header %}
                        <h1>شروط الترشح لمناصب اﻟﻤﺠﻠﺲ اﻻﺳﺘﺸﺎري اﻟﻄﻼﺑﻲ</h1>
<style>
    h4{
        font-family: "GE Dinar One"
    }
</style>
{% endblock %}

{% block content %}

<h4>شروط الترشح لمناصب أعضاء المجلس الاستشاري الطلابي:</h4>
ﯾﺤﻖ ﻟﻜﻞ طﺎﻟﺐ/ طﺎﻟﺒﺔ ﻣﻨﺘﻈﻢ ﻟﺪرﺟﺔ اﻟﺒﻜﺎﻟﻮرﯾﻮس ﻓﻲ ﺟﺎﻣﻌﺔ اﻟﻤﻠﻚ ﺳﻌﻮد ﺑﻦ ﻋﺒﺪاﻟﻌﺰﯾﺰ ﻟﻠﻌﻠﻮم اﻟﺼﺤﯿﺔ ﺧﻮض ترشيحات اﻟﻤﺠﻠﺲ ﺷﺮﯾطة أن ﯾﺴﺘﻮﻓﻲ اﻟﻤﻌﺎﯾﯿﺮ اﻟﺘﺎﻟﯿﺔ ﺧﻼل ﻓﺘﺮة الترشيحات:
<br>
<ol>
    <li>أن ﯾﻜﻮن اﻟﻄﺎﻟﺐ ﻣﻨﺘﻈﻤﺎ ﺑﺎﻟﺠﺎﻣﻌﺔ.</li>
    <li>أن ﯾﻜﻮن اﻟﻄﺎﻟﺐ ﺣﺴﻦ اﻟﺴﯿﺮة واﻟﺴﻠﻮك.</li>
    <li>أن ﻻ ﯾﻘﻞ ﻣﻌﺪل اﻟﻄﺎﻟﺐ اﻟﺘﺮاﻛﻤﻲ ﻋﻦ ٤.</li>
</ol>

<br>

<h4>شروط الترشح العامة لمنصب رئيس المجلس الاستشاري الطلابي ومنصب رئيس المركز الإعلامي للمجلس الاستشاري:</h4>

أ. أن ﯾﻜﻮن طﺎﻟﺒًﺎ ﻣﻨﺘﻈﻤًﺎ ﺧﻼل اﻟﻌﺎم اﻷﻛﺎدﯾﻤﻲ السابق، وﻻ ﯾﺤﻖ ﻟﻄﻼب ﺳﻨﺔ اﻻﻣﺘﯿﺎز اﻟﺘﺮﺷﺢ ﻟﻼﻧﺘﺨﺎﺑﺎت.
<br>
ب. اﻟﺘﺮﺷﺢ ﯾﻌﻨﻲ ﻣﻠﻜﯿﺔ ﺧﻄﻂ وأﻓﻜﺎر اﻟﻤﺘﻘﺪﻣﯿﻦ ﻟﻠﻌﻤﺎدة ﺣﺘﻰ ﻓﻲ ﺣﺎﻟﺔ ﻋﺪم اﻟﻔﻮز.
<br>
ج. اﻟﺘﺮﺷﺢ ھﻮ ﻣﻮاﻓﻘﺔ وإﻗﺮار ﺑﻌﺪم اﻻﻧﺴﺤﺎب ﺑﻌﺪ اﻟﻔﻮز إﻻ ﺑﻈﺮوف ﺗﻮاﻓﻖ ﻋﻠيها اﻟﻌﻤﺎدة.
<br>
د.الترشح هو الإﻗﺮار ﺑﻌﺪم اﻟﺒﻮح ﺑﺄي ﻣﻦ أسرار المجلس الاستشاري.
<br>
ه. ﻻﯾﺤﻖ ﻟﻠﻤﺘﺮﺷﺢ اﻻﺳﺘﻔﺴﺎر ﻋﻦ ﺳﺒﺐ ﺧﺮوجه ﻣﻦ اﻟﻤﻨﺎﻓﺴﺔ ﺧﻼل أي ﻣﻦ ﻣﺮاﺣﻠﮭﺎ.
<br>
ز. أن ﯾﻜﻮن اﻟﻤﺘﺮﺷﺢ ﺣﺴﻦ اﻟﺴﯿﺮة واﻟﺴﻠﻮك وأﻻ ﯾﻜﻮن ﻟﺪيه ﻋﻮاﺋﻖ أﻛﺎدﯾﻤﯿﺔ أو أﺧﻼﻗﯿﺔ.

<br><br>

<h4>شروط الترشح الخاصة لمنصب رﺋﯿﺲ المجلس الاستشاري:</h4>

1. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب.  أن ﯾﻜﻮن ﻋﻤﻞ ﻓﻲ ﻣﻨﺼﺐ ﻗﯿﺎدي لمدة عام
<br>
✓ اﻟﻤﻨﺼﺐ اﻟﻘﯿﺎدي ﻻ ﯾﺸﻤﻞ اﻟﻌﻀﻮﯾﺎت (ﻓﻲ أي ﻣﻦ ﻓﺮوع اﻟﻨﺎدي) وﻻ ﻗﺎدة اﻟﻔﺮق ﻓﻲ أﻧﺪﯾﺔ اﻟﻜﻠﯿﺎت.
<br>
ج. أﻻ ﯾﻘﻞ ﻣﻌﺪله ﻋﻦ 4 ﻣﻦ .5
<br>
د. أن ﯾﻜﻮن طﺎﻟﺒًﺎ ﻣﻨﺘﻈﻤًﺎ ﺧﻼل اﻟﻌﺎم اﻷﻛﺎدﯾﻤﻲ السابق، وﻻ ﯾﺤﻖ ﻟﻄﻼب ﺳﻨﺔ اﻻﻣﺘﯿﺎز اﻟﺘﺮﺷﺢ ﻟﻼﻧﺘﺨﺎﺑﺎت.
<br>
هذا اﻟﻤﻨﺼﺐ ﻣﺘﺎح ﻓﻲ ﻓﺮع اﻟﺮﯾﺎض

<br><br>

<h4>شروط الترشح الخاصة لمنصب رﺋﯿﺲ اﻟﻤﺮﻛﺰ اﻹﻋﻼﻣﻲ:</h4>

أ. ﺑﺎﻹﺿﺎﻓﺔ ﻟﻠﺸﺮوط اﻟﻤﺬﻛﻮرة ﻓﻲ اﻟﺸﺮوط اﻟﻌﺎﻣﺔ.
<br>
ب. أن ﯾﻜﻮن ﻋﻤﻞ ﻓﻲ منصب إعلامي ﻟﻌﺎم.
<br>
✓ ﯾﺸﻤﻞ اﻷﻋﻀﺎء اﻟﻔﺎﻋﻠﯿﻦ ﻓﻲ ﻓﺮوع اﻟﻨﺎدي.

{% endblock %}

