{% extends 'base.html' %}

{% block title %}اللجنة اﻹعلامية{% endblock %}

{% block header %}
                        <h1>اللجنة اﻹعلامية</h1>
{% endblock %}

{% block content %}
    <h3>المادة الأولى: تعريف:</h3>
    <p>هو فريق يعمل على استقبال صوت الطالب وإيصاله إلى المجلس الطلابي ليتم مناقشتها في المجلس، مع العمل على توثيق أعمال المجلس ونشرها في وسائل الإعلام التابعة للجامعة.</p>

    <h3>المادة الثانية:  هيكلة اللجنة:</h3>
    <ol>
        <li>رئيس اللجنة</li>
        <li>ثلاثة أعضاء.</li>
    </ol>

    <h3>المادة الثالثة:  مهام و آلية العمل:</h3>
    <ol>

        <li>استقبال جميع الشكاوى والملاحظات التي تواجه الطلبة وذلك عن طريق تعبئة النموذج المخصص لذلك، على أن يتم إيصاله إلى لجنة الرعاية الطلابية وعمل مايلزم حيال ذلك. وذلك وفقًا للمعايير التالية:</li>
        <ol>
            <li>لن يتم النظر بالشكاوى والاقتراحات التي تتعارض وبشكل صريح مع أحد قوانين الجامعة.</li>
            <li>لن يتم النظر بالمشاكل الفردية كما تم توضيح ذلك في اللائحة الرئيسية للمجلس الاستشاري الطلابي.</li>
            <li>في حال أن الشكوى تحتوي على عبارات غير لائقة تسيء للجامعة أو لأحد منسوبيها، يتم تنقيحها وإرسالها.</li>
            <li>يتم الرد على الشكاوى المرفوضة بسبب الرفض، يتم الرد على المقبولة بأنه يتم العمل على مشكلته</li>
        </ol>

        <li>نشر نتائج الإجتماع عن طريق وسائل الإعلام الرسمية التابعة للجامعة بعد اعتماد رئيس المجلس.</li>

        <li>نشر بشكل أسبوعي عن أهمية المجلس الإستشاري الطلابي في خدمة الطلبة.</li>

        <li>حث الطلبة على إرسال أهم العوائق التي تواجههم في حياتهم الأكاديمية (داخل الحرم الجامعي) ومناقشتها على نطاق أوسع في المجلس.</li>

        <li>إعداد عرض عن منجزات المجلس الإستشاري الطلابي.</li>

        <li>يعتبر إيميل المجلس هو الوسيلة الرسمية للتواصل.</li>

        <li>عند فرز المشاكل ورفض بعضها يتم توضيح السبب والرد على من رفع الطلب بسبب الرفض.</li>
    </ol>

    <h3>المادة الرابعة: الوسائل المتاحة للتواصل والإعلان وتغطية أخبار المجلس:</h3>
    <ol>
        <li>التواصل:</li>
        <ul>
            <li>إيميل المجلس الرسمي:</li>
            <p>وذلك عن طريق تعبئة النموذج الخاص بالقضايا (إليكترونيًا) وإرساله إلى الإيميل الرسمي للمجلس الإستشاري الطلابي. (SAC@ksau-hs.edu.sa)</p>

            <li>بوابة إنجاز:</li>
            <p>عن طريق توفير نافذة خاصة بالمجلس الإستشاري الطلابي تمكّن الطالب بالدخول إليها وتعبئة النموذج الخاص بالقضايا.</p>

            <li>التواصل مع ممثل الكلية في المجلس:</li>
            <p>عن طريق الإخبار الشفوي من طلّاب الكلية لممثل الكلية في المجلس الإستشاري الطلابي، على أن يتم العمل بالمادة السابعة (فقرة ب) من مهام وآلية العمل من قبل ممثل الكلية.</p>
        </ul>

        <li>الإعلان:</li>
        <ol>
            <li>إيميل المجلس الرسمي:</li>
            <p>يتولى الإعلان عن موعد الإجتماع القادم وبحث الموعد المناسب لأعضاء المجلس الإستشاري الطلابي (داخلياً) على أن يعمد على نشر نتائج قضايا الطلبة السابقة ـ بعد موافقة الرئيس ـ عبر وسائل الإعلام الرسمية التابعة للجامعة.</p>

            <li>بوابة إنجاز:</li>
            <p>نشر نتائج إجتماع المجلس الطلابي الإستشاري عن طريق النافذة الخاصة بالمجلس، وحث الطلبة على إرسال العوائق التي تواجههم في حياتهم الأكاديمية.</p>

            <li>وسائل التواصل الإجتماعي:</li>
            <p>يتولى الممثل الإعلامي نشر أهمية المجلس الإستشاري الطلابي عن طريق وسائل التواصل الإجتماعي وحث الطلبة على إرسال العوائق التي تواجههم مع العمل على نشرها وإبراز دور المجلس في ذلك.</p>

            <li>نبض الجامعة</li>

            <li>الإعلان الورقي والشاشات الإعلانية</li>
        </ol>
    </ol>

    <h3>المادة الخامسة: قوانين النشر والإعلان العامة للجنة الإعلامية:</h3>
    <ol>
        <li>الالتزام بتعاليم الدين الحنيف وعدم نشر المحتويات المخالفة للشريعة الإسلامية.</li>

        <li>عدم نشر ما يسيئ للمجلس الإستشاري الطلابي أو للجامعة أو للمنظومة الصحية أو لأي جهة رسمية أو أي أحد من منسوبيها.</li>

        <li>الابتعاد عن كل ما قد يثير النزاعات والنقاشات غير الهادفة بين الطلبة/المستفيدين في أي من قنوات الإعلان الخاصة بالمجلس.</li>

        <li>عدم استخدام قنوات الإعلان الخاصة بالمجلس لمصالح شخصية بأي شكل من الأشكال.</li>

        <li>الحرص على الكتابة السليمة الخالية من الأخطاء الإملائية واللغوية.</li>

        <li>لايسمح لأي من منسوبي المجلس نشر أي أخبار عن المجلس في خارج إطار القنوات المحددة وللمصرح لهم فقط.</li>

        <li>يتعرض من يخالف أي من القوانين المذكورة أعلاه لتنبيه أول و ثان بعدها تتم مخاطبة رئيس المجلس لتغييره في حال تكررت الحالة.</li>

        <li>يتم اعتماد شعار المجلس الإستشاري الطلابي (الرسمي) في جميع مطبوعات المجلس وتصاميمه.</li>
    </ol>
{% endblock %}