{% extends 'base.html' %}

{% block title %}الأخبار{% endblock %}

{% block header %}
                        <h1>الأخبار</h1>
{% endblock %}

{% block content %}
    {% for i in news_items %}
    <div onclick="location.href='{% url 'show_news' news_id=i.pk %}'">
    <div class="panel panel-default">
        <div class="panel-heading">{{ i.title }}</div>
        <div class="panel-body">{{ i.body|truncatewords:20 }}
            <img height="100px" align="left" src="{{i.picture.url}}" alt="here">
        </div>
        <div class="panel-footer">{{ i.submission_date }}</div>
    </div>
    </div>
    {% endfor %}
{% endblock %}