{% extends 'base.html' %}

{% block title %}أحكام عامة{% endblock %}

{% block header %}
                        <h1>أحكام عامة</h1>
{% endblock %}

{% block content %}

    <h3>المادة الأولى: التأسيس:</h3>
    <p>تم تأسيس المجلس وانطلاقة أعماله وفق ما جاء في هذه اللائحة بعد اعتمادها من قبل مجلس عمادة شؤون الطلاب اعتباراً من 1 \ 4\ 2015</p>

    <h3>المادة الثانية: تعريف المجلس الاستشاري الطلابي:</h3>
    <p>هو مجلس طلابي من مختلف كليات الجامعة ويرتبط بإدارة الجامعة لتمثيل طلاب الجامعة ومقترحاتهم.</p>

    <h3>لمادة الثالثة: الرؤية:</h3>
    <p>تعزيز الشراكة الطلابية مع إدارة الجامعة في شؤون الجامعة الأكاديمية والطلابية لتهيئة بيئة طلابية متميزة تنمي انتماء الطالب وثقته بالبيئة الجامعية التي يعيش فيها.</p>

    <h3>المادة الرابعة: الأهداف:</h3>
    <ol>
        <li>تعزيز جسور التواصل بين إدارة الجامعة وطلابها لتطوير العملية الأكاديمية والتربويـة والخدمية بالجامعة.</li>
        <li>توفير قناة تواصل آمنة يلجأ إليها الطلاب للتعبير عن وجهة نظرهم في أي أمر يخص حياتهم الجامعية.</li>
        <li>توسيع المشاركة الطلابية المحفزة والمنتجة في البيئة الأكاديمية والشؤون الطلابية.</li>
        <li>بناء جيل قادر على القيادة والبناء من خلال منح الطلاب فرصة المشاركة في صناعة القرار.</li>
        <li>تلمس وجهات نظر الطلاب حيال ما يقدم لهم داخل الجامعة مـن فعاليات أكاديميـة ولاصفية وخدمات طلابية  وإيصال صوتهم لصاحب الصلاحية في إدارة الجامعة.</li>
        <li>تقديم المقترحات والحلول لإدارة الجامعة في المجالات التي تهم الطلاب.</li>
        <li>توفير جو محفز لتلقي المعارف وبيئة خصبة لتعزيز الأخلاق الحميدة والانتماء للجامعة والوطن.</li>
    </ol>

    <h3>المادة الخامسة: هيكلة المجلس:</h3>
    <p>يتألف المجلس من:
        <ol>
            <li>
                <b>الرئيس الفخري للمجلس: </b>
                معالي مدير الجامعة، ويتمثل دوره بالإشراف على المجلس وتلقي تقارير المجلس ومشاكل الطلاب الكبرى من خلال رئيس المجلس.
            </li>

            <li>
                <b>العضوان الفخريان: </b>
                 سعادة وكيل الجامعة للشؤون التعليمية، وسعادة عميد شؤون الطلاب، ويتمثل دورهما في توفير الدعم اللوجستي والإداري وحل مشاكل المجلس الداخلية والتنظيمية، ولهما الحق في تفويض مهامهما لأحد وكلائهما شريطة أن تتم موافقة أعضاء المجلس على هذا التفويض.
            </li>

            <li>22 عضوًا يمثلون الطلاب والطالبات يتم انتخابهم من كل كلية، ودورهم إيصال صوت طلاب الكلية والمساهمة في اتخاذ القرارات وصناعة المشاريع المثمرة لخدمة الطالب ومنهم يتم انتخاب رئيس المجلس ونائبه، ويتوزع الطلاب الأعضاء على النحو الآتي:</li>
                <ul>

                    <li>من الرياض:
                        <ul>
                            <li>كلية الطب:</li>
                            ممثلان اثنان (طالب وطالبة)
                            <li>كلية العلوم الطبية التطبيقية: </li>
                            ممثلان اثنان (طالب وطالبة)
                            <li>كلية طب الأسنان: </li>
                            ممثلان اثنان (طالب وطالبة)
                            <li>كلية الصيدلة:</li>
                            ممثلان اثنان (طالب وطالبة)
                            <li>كلية التمريض:</li>
                            ممثل واحد (طالبة)
                            <li>كلية العلوم والمهن الصحية:</li>
                            ممثلان اثنان (طالب وطالبة)
                            <li>كلية الصحة العامة والمعلوماتية الصحة:</li>
                            ممثل واحد (طالب)
                            <li>سنة الامتياز:</li>
                            (طالب وطالبة)
                        </ul>
                    </li>

                    <li>من جدة:
                        <ul>
                            <li>كلية الطب:</li>
                            ممثلان اثنان (طالب وطالبة)

                            <li>كلية التمريض:</li>
                            ممثل واحد (طالبة)
                            <li>كلية العلوم والمهن الصحية:</li>
                            ممثلان اثنان (طالب وطالبة)
                        </ul>
                    </li>

                    <li>من الأحساء:
                        <ul>
                        <li>كلية التمريض:</li>
                            ممثل واحد (طالبة)
                            <li>كلية العلوم الطبية التطبيقية:</li>
                            ممثلان اثنان (طالب وطالبة)
                        </ul>
                    </li>
                </ul>

            <li>رئيس المجلس: يتم انتخابه من الطلبة أعضاء المجلس، ويتمثل دوره في تولي إدارة المجلس والتخاطب مع الجهات المختلفة وعرض قرارات المجلس على الرئيس الفخري.</li>

            <li>نائب رئيس المجلس: يتم انتخابه من بين أعضاء المجلس، ويتمثل دوره في مراجعة توصيات الاجتماعات وعرضها على رئيس المجلس لاعتمادها كما ينوب عن الرئيس في حال غيابه أو انسحابه.</li>

            <li>أمين المجلس: يتم تعيينه من رئيس المجلس من خارج أعضاء المجلس المنتخبين، بحيث ينسق جدول الأعمال قبل كل اجتماع لاعتماده من رئيس المجلس ودعوة الأعضاء للاجتماع القادم. كما يكون دوره كتابة محضر الاجتماع ولا يحق له المشاركة في قرارات المجلس.</li>

            <li>رئيس نادي الطلاب: ويتمثل دوره بالمشاركة في مشاريع المجلس وتسهيل برامجه.</li>

            <li>طلاب امتياز: ويقتصر دورهم على المشاركة بالرأي دون الانضمام لأي من لجان المجلس. يكون أحدهما من الطلاب والآخر من الطالبات يمثلون جميع طلاب وطالبات الامتياز بغض النظر عن التخصص.</li>
        </ol>
    </p>

    <h3>المادة السادسة: المسؤوليات والالتزامات:</h3>
    <ol>
        <li>المساهمة في متابعة تنفيذ قوانين وتعليمات وسياسات الجامعة التي تصون وتعزز حقوق الطلاب.</li>

        <li>تمثيل طلاب الجامعة، بالتعبير عن آرائهم، ومقترحاتهم، وشكاويهم بطريقة حضارية ونظامية من خلال القنوات الرسمية حفاظًا على سمعة الجامعة.</li>

        <li>إطلاع إدارة الجامعة باهتمامات طلاب الجامعة ومشاكلهم المتعلقة بالكليات والعمادات والإدارات المساندة، واقتراح حلول عملية لها.</li>

        <li>تنسيق انتخابات مختلف المناصب الطلابية في الجامعة والإشراف عليها لضمان نزاهتها وعدالتها، وذلك بالتنسيق مع عمادات الجامعة المختلفة.</li>

        <li>استعمال وسائل تواصل ملائمة لإيصال أخبار المجلس لطلاب الجامعة واستقبال آرائهم.</li>

        <li>تأسيس لجان فرعية من أعضاء المجلس لدراسة قضايا محددة تهم الطلاب، أو لإنجاز مشروع واسع النطاق يهم المجتمع الجامعي.</li>

        <li>عقد جلسات عامة وذلك على النحو الآتي:</li>
        <ol>
            <li>يدعو رئيس المجلس لانعقاد الجلسات العامة والتي يستطيع جميع طلاب الجامعة المشاركة فيها كملتقى لتبادل الآراء والمعلومات والاستشارات مع المجلس.</li>
            <li>تعقد مرتين على الأقل خلال العام الأكاديمي. (جلسة واحدة في كل فصل دراسي)</li>
        </ol>
    </ol>

    <h3>المادة السابعة: عضوية المجلس:</h3>
        <ol>

            <li>عضوية المجلس:
يحق لكل طالب منتظم لدرجة البكالوريوس في جامعة الملك سعود بن عبدالعزيز للعلوم الصحية خوض انتخابات المجلس. </li>

            <li>إنهاء العضوية:
تنتهي عضوية الطالب في المجلس بوجود أي مما يلي:</li>
            <ol>
                <li>حصوله على إنذار أكاديمي.</li>
                <li>انسحابه من الدراسة الجامعية أو تأجيلها.</li>
                <li>التغيّب عن حضور الاجتماعات الدورية أو الاستثنائية لمرتين متتاليتين بدون سبب وجيه يراه المجلس، أو أربع مرات لأسباب وجيهة (يتم تقييم الأسباب بحسب القوانين المتبعة في الجامعة في قبول أعذار الغياب عن المحاضرات والامتحانات)</li>
                <li>عند إفشائه لأسرار المجلس بخلاف القوانين المتبعة أو مخالفة نظام المجلس وآلياته.</li>
                <li>يجب أن يعقد اجتماع بحضور الأعضاء يبين فيه سبب إنهاء العضوية.</li>
            </ol>
        </ol>

    <h3>المادة الثامنة: آلية عمل المجلس:</h3>
    <ol>
        <li>يعقد المجلس اجتماعاته مرة في الشهر كحد أدنى، ويمكن عقد جلسة طارئة إذا دعت الحاجة لذلك.</li>

        <li>يتولى أمين المجلس الإعداد للاجتماع ومتابعة دعوة جميع أعضاء المجلس، على أن تتضمن الدعوة جدول أعمال الاجتماع.</li>

        <li>يتم إبلاغ جميع الأعضاء بموعد الاجتماع قبل الموعد بأسبوعين على الأقل بالنسبة للاجتماعات العادية وبخمسة أيام على الأقل بالنسبة للاجتماعات الاستثنائية.</li>

        <li>يرفع أعضاء المجلس المواضيع التي يرغبون بمناقشتها خلال الاجتماعات إلى أمين المجلس قبل ٣ أيام من إنعقاد الجلسة القادمة.</li>

        <li>يتم تأجيل موعد الجلسة في حال اعتذار أكثر من ثلث الأعضاء قبل عقدها بيومين على الأقل (للجلسات العادية).</li>

        <li>يشترط لانعقاد اجتماع المجلس الطلابي حضور ثلثي أعضاء المجلس من ضمنهم الرئيس أو النائب.</li>

        <li>تصدر القرارات بالأغلبية فإذا تساوت الأصوات يرجح الجانب الذي فيه رئيس المجلس.</li>

        <li>يحق لرئيس المجلس مخاطبة الكليات وإدارات الجامعة عن المواضيع ذات العلاقة لاستشارتهم والاستفادة من رأيهم حيالها. وتكون المخاطبة مباشرة من رئيس المجلس للمسؤول عن الإدارة ذات العلاقة بالموضوع محل النقاش أو الاستشارة، كما يتولى عقد اجتماعات فصلية لإطلاع الرئيس الفخري على سير المجلس.</li>

        <li>لا ينظر المجلس في الحالات الفردية التي تخص طالب بعينه ما لم تشكل ظاهرة عامة.</li>
    </ol>

    <h3>المادة التاسعة: اللجان:</h3>
    <p>تنتخب ثلاثة لجان للمجلس وذلك في غضون شهر واحد من بداية جلسات المجلس:</p>
    <ol>

        <li>لجنة الرعاية الطلابية: تختص هذه اللجنة بحقوق واقتراحات الطلاب، والسعي لتحقيق بيئة جامعية مثالية للمجتمع الجامعي. ويترأس اللجنة رئيس المجلس، بالإضافة إلى أربعة أعضاء من المجلس.</li>

        <li>اللجنة الإعلامية: وتكون مسؤولة عن نشر معلومات خاصة بشؤون وقرارات المجلس لمجتمع الجامعة واستقبال آرائهم وشكاويهم وفرزها. وتتألف اللجنة من ثلاثة أعضاء، وينتخب رئيسها من بين أعضاء المجلس، ولا يحق لغير هذه اللجنة ورئيس المجلس إفشاء أي من قرارات المجلس أو أخباره.</li>

        <li>لجنة الانتخابات: لجنة مؤقتة تشرف على جميع الانتخابات المتعلقة بالمناصب الطلابية وتكون مسؤولة عن:</li>
            <ol>
                <li>انتخابات المجلس الطلابي.</li>
                <li>انتخابات نادي الطلاب "بالتنسيق مع عمادة شؤون الطلاب".</li>
                <li>انتخابات ممثلي الدفعات" بالتنسيق مع عمادات الكليات" (بإنشاء لجنة جديدة قبل بداية العام الأكاديمي من المجلس)</li>
            </ol>
    </ol>

    <h3>المادة العاشرة: التعديل على اللوائح:</h3>
    <p>يجوز تعديل لوائح المجلس جزئياً أو كلياً مرة كل سنة. ويجب أن يوافق ثلثا أعضاء المجلس على التعديلات المقترحة وترفع خطياً للرئيس الفخري للمجلس، وتدخل التعديلات حيز التنفيذ مباشرة بعد موافقته عليها أو يتم الاستمرار على اللوائح السابقة .</p>

    <h3>المادة الحادية عشرة: الفصل في المشاكل:</h3>
    <p>عند حصول أي خلاف بين أي من أفراد المجلس، فيحق لأحدهما طلب اجتماع بحضور ثلثي أعضائه (على الأقل) لعرض المشكلة وحلولها (بشرط أن لايطلب حق شخصي) ويصوت أفراد المجلس على حل المشكلة، ويلزم المخطئ باتباع التصويت وعند استمرار الخلاف  يتدخل عميد شؤون الطلاب (أو المفوض بأعماله) لاتخاذ اللازم.</p>

    <h3>المادة الثانية عشرة: الانسحاب من العضوية وإلغاؤها:</h3>
    <p>يجب على من يريد الانسحاب أن يتقدم بطلب لرئيس المجلس يوضح الأسباب ويتم مخاطبة شؤون الطلاب بكلية الطالب للإحاطة، ويتم استبداله بالذي يليه في الانتخابات الأخيرة وفي حال عدم وجود مرشح آخر يتم إجراء انتخابات في حال تبقي أكثر من ثلاثة أشهر على الانتخابات المقبلة، كما يتم الإجراء السابق عند إلغاء العضوية أيضاً.</p>

    <h3>المادة الثالثة عشر: المجلس التأسيسي:</h3>
    <p>هو المجلس الذي بدأ مهامه بكتابة لوائح وأنظمة المجلس الاستشاري الطلابي في 1 ابريل 2015 وذلك بمشاركة كل من : خالد العبدالجبار ومحمد العتيبي وعبدالله الموسى ومحمد الراشد وعبدالعزيز الغملاس وسلطان العشيوي وذكرى الغليقة وسعاد العرفج.</p>

{% endblock %}