{% extends 'base.html' %}{% load bootstrap3 %}

{% block title %}الترشيح لِ{{position.title}}{% endblock %}

{% block header %}
                        <h1>الترشيح لِ{{position.title}}</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                           {% if position.entity == 'club' %}
                            <li><a href="{% url 'voting:list_positions' 'club' %}">مناصب نادي الطلاب</a></li>
                           {% else %}
                            <li><a href="{% url 'voting:list_positions' 'council' %}">مناصب المجلس الاستشاري</a></li>
                           {% endif %}
                            <li class="active">{{ position.title }}</li>
                        </ol>
{% endblock %}

{% block content %}
{% if already_on %}
<p class="alert alert-danger" style="font-size: 18px; color: black;">سبق أن ترشّحت  لمنصب في {{ position.get_entity_display }}! يمكنك الترشّح لمنصب واحد فقط.</p>
{% else %}
<p class="alert alert-warning" style="font-size: 18px; color: black;">
{% if position.entity == 'club' %}
يحتوي ملف الخطّّة الرؤى والخطط والبرامج المقترحة، وكذلك فرق العمل للمترشحين والمترشّحات لتمثيل الكليات.
{% elif position.entity == 'council' %}
يحتوي ملفّ الخطّة أبرز المعوقات التي تواجه طلاب أو طالبات كليتك مع الحلول المقترحة لها.
{% endif %}
</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-btn-success" type="submit" value="أرسل">
</form>
{% endif %}
{% endblock %}
