{% extends 'base.html' %}{% load bootstrap3 %}

{% block title %}الترشيح لِ{{position.title}}{% endblock %}

{% block header %}
                        <h1>الترشيح لِ{{position.title}}</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                           {% if position.entity == 'club' %}
                            <li><a href="{% url 'voting:list_positions' 'club' %}">مناصب نادي الطلاب</a></li>
                           {% else %}
                            <li><a href="{% url 'voting:list_positions' 'council' %}">مناصب المجلس الاستشاري</a></li>
                           {% endif %}
                            <li class="active">{{ position.title }}</li>
                        </ol>
{% endblock %}

{% block content %}
{% if already_on %}
<p class="alert alert-danger" style="font-size: 18px; color: black;">سبق أن ترشّحت  لمنصب في {{ position.get_entity_display }}! يمكنك الترشّح لمنصب واحد فقط.</p>
{% else %}
<p class="alert alert-warning" style="font-size: 18px; color: black;">
{% if position.entity == 'club' %}
يحتوي ملف الخطّة الرؤى والخطط والبرامج المقترحة، وكذلك فرق العمل للمترشحين والمترشّحات لتمثيل الكليات.
{% elif position.entity == 'council' %}
يحتوي ملفّ الخطّة أبرز المعوقات التي تواجه طلاب أو طالبات كليتك مع الحلول المقترحة لها.
{% endif %}
</p>
<form method="post" enctype="multipart/form-data">
    <div class="col-sm-8">
        {% csrf_token %}
        <div class="row">
            <div class="form-group">
                {% bootstrap_field form.plan %}
                {% if position.entity == 'club' %}
                    <span class="help-block small"><a target="_blank" href="https://goo.gl/IdQjuH">ملف الترشح (يستلزم تعبئة الرؤى والخطط وفرق العمل إن وجد)</a> </span>
                {% elif position.entity == 'council' %}
                    <span class="help-block small"><a target="_blank" href="https://goo.gl/rkN4Ko">ملف الترشح (يستلزم ذكر أبرز العقبات مع حلول لها)  </a> </span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {% bootstrap_field form.cv %}
                <span class="help-block small"><a target="_blank" href="https://goo.gl/ceKPnM">نموذج السيرة الذاتية</a> </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {% bootstrap_field form.certificates %}
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                {% bootstrap_field form.gpa %}
            </div>
        </div>

        </div>
<div class="form-group">
<div class="col-sm-8 checkbox checkbox-success">
     <input id="checkbox1" type="checkbox">
     <label for="checkbox1">أقر بالموافقة على <a target="_blank" href="http://sac.ksau-hs.edu.sa/index.php/rules/13-%D9%84%D8%AC%D9%86%D8%A9-%D8%A7%D9%84%D8%A7%D9%86%D8%AA%D8%AE%D8%A7%D8%A8%D8%A7%D8%AA-%D8%A7%D9%84%D8%B7%D9%84%D8%A7%D8%A8%D9%8A%D8%A9">شروط الترشيحات والانتخابات.</a></label>
</div>
</div>
<div class="form-group">
<div class="col-sm-8 checkbox checkbox-success">
     <input id="checkbox2" type="checkbox">
     <label for="checkbox2">أقر بأن جميع المعلومات التي تم تعبئتها في نموذج التسجيل في البوابة وفي هذا النموذج صحيحة، وأنه في حال اكتشاف أي معلومات مغلوطة يحق للجنة الانتخابات استبعادي من الترشيحات الطلابية حتى بعد فوزي بالمنصب.</label>
</div>
</div>
<div class="form-group">
<div class="col-sm-8 checkbox checkbox-success">
     <input id="checkbox3" type="checkbox">
     <label for="checkbox3">أوافق على نشر السيرة الذاتية وملف الترشح.</label>
</div>
</div>
<div class="form-group">
<div class="row">
    <div class="col-sm-12">
    <input id="submit" disabled class="btn btn-btn-success" type="submit" value="أرسل">
    </div>
</div>
</div>
</form>
{% endif %}
{% endblock %}
{% block customscript %}
<script>
$(function(){
   $("input[type=checkbox]").change(function(){
      if ($("input[type=checkbox]:checked").length == 3){
       $("#submit").removeAttr('disabled');
      } else {
       $("#submit").attr('disabled', 'disabled');
      }
   })
});
</script>
{% endblock %}
