{% extends 'base.html' %}
{% block title %}إعلان النتائج{% endblock %}
{% block header %}

{% if entity == 'club' %}
    <h1>قائمة الفائزين والفائزات لمناصب نادي الطلاب للعام {{sac_year.get_next_year_name}}</h1>
{% else %}
    <h1>قائمة الفائزين والفائزات لمناصب المجلس الاستشاري للعام {{sac_year.get_next_year_name}}</h1>
{% endif %}
{% endblock %}

{% block content %}

{% if not sac_year.is_announcement_due %}
    <p class="alert alert-warning" style="color: black; font-size: 18px;">ما زالت الترشيحات جارية.</p>
{% else %}

    {% for position_city, positions in per_city %}
        <h2>مناصب {{ position_city }}</h2>
        {% for position in positions %}
            <div class="row">
                        <p style="font-size: 20px;">المنصب: {{position.title}}</p>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-bd">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2>{{ position.get_winner.user.profile.get_ar_full_name }}</h2>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
                    {% if position.is_elected %}
            <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <table class="datatable table table-bordered table-striped table-hover">
                                <thead>
                                  <tr>
                                  <th>المُرشّحـ/ـة</th>
                                  <th>عدد الأصوات</th>
                                  <th>النسبة</th>
                                </tr>
                              <tbody>
                            {% for nominaton in position.nominationannouncement_set.all %}
                                <tr>
                                   <td>{{ nominaton.user.profile.get_ar_full_name }}</td>
                                   <td>{{ nominaton.get_counted_count }}</td>
                                   <td>{{ nominaton.get_percentage }}%</td>
                                <tr>
                            {% endfor %}
                                <tr class="blank">
                                   <td>امتناع عن التصويت</td>
                                   <td>{{ position.get_blank_vote_count }}</td>
                                   <td>{{ position.get_blank_vote_percentage }}%</td>
                                <tr>
                                <tr class="blank">
                                   <td>أصوات مُبطلة</td>
                                   <td>{{ position.get_uncounted_vote_count }}</td>
                                   <td> - </td>
                                <tr>
                              </tbody>
                            </table>
                        </div>
            </div>
                    {% endif %}

        {% endfor %}
    {% endfor %}

{% endif %}
{% endblock %}
