{% extends 'base.html' %}
{% block title %}إعلان ترشيحات نادي الطلاب{% endblock %}
{% block header %}
<h1>قائمة المرشحين والمرشحات لنادي الطلاب للعام {{sac_year.get_next_year_name}}</h1>
{% endblock %}

{% block content %}

{% if not sacyear.is_announcement_due %}
    <p class="alert alert-warning" style="color: black; font-size: 18px;">ما زالت الترشيحات جارية.</p>
{% else %}

    {% for position in positions %}
        <p style="font-size: 20px;">* المنصب: {{position.title}}</p>
        <br>
        <div class="row">
            {% for nomination in position.nomination_set.all %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="panel panel-bd">
                        <div class="panel-body">
                            <div class="statistic-box">
                                <h2>{{ nomination.user.profile.get_ar_full_name }}</h2>
                                <br>
                                <p align="center">
                                    <a href="{{ nomination.plan.url }}">الخطة</a>
                                    ،
                                    <a href="{{ nomination.cv.url }}">السيرة</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endif %}
{% endblock %}
