{% extends 'base.html' %}

{% block title %}مناصب نادي الطلاب{% endblock %}
{% block header %}
                        <h1>مناصب نادي الطلاب</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                            <li class="active">مناصب نادي الطلاب</li>
                        </ol>
{% endblock %}
{% block content %}
<style>
.panel{
   height: 100px;
}

h2{
   font-size: 20px;
   text-align: center;
}

p{
    text-align: center;
}
</style>

<p>
    يهدف نادي الطلاب إلى الربط بين طلاب الجامعة وطالباتها واكتشاف مهاراتهم وصقلها وتطويرها في مجالات عدة من خلال أنشطة طلابية فارقة، وذلك بإشراف عمادة شؤون الطلاب ودعمها، لتعزيز انتماء الطلبة وولائهم للجامعة.
    <br>
يتمثل دور ممثلي نادي الطلاب في اقتراح وتخطيط وإعداد الأنشطة اللاصفية وتنظيمها للطلاب.
    <br><br>
    كونوا جزءًا من الإنجاز، وقيادات النشاط الطلابي في الجامعة!
</p>

{% if user_nominations.exists %}

<p>ترشّحت للمناصب التالية:</p>
{% for nomination in user_nominations %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><a href="{% url 'voting:show_nomination' nomination.position.pk nomination.pk %}">{{ nomination.position.title }}</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
{% else %}
{% for position in positions %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><a href="{% url 'voting:add_nominee' position.pk %}">{{ position.title }}</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
{% endif %}
{% endblock %}
