{% extends 'base.html' %}{% load staticfiles %}

{% block title %}مناصب المجلس الاستشاري{% endblock %}
{% block header %}
                        <h1>مناصب المجلس الاستشاري</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                            <li class="active">مناصب المجلس الاستشاري</li>
                        </ol>
{% endblock %}
{% block content %}
<style>
.panel{
   height: 100px;
}

img{
      margin-right: auto;
      margin-left: auto;
      max-height: 200px;
      margin-bottom: 20px;
}

h2{
   font-size: 20px;
   text-align: center;
}

p{
    text-align: center;
}

</style>

<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
<img class="img-responsive" src="{% static 'images/logos/logo-no-text.png' %}">
<p  style="font-size: 20px; text-align: justify;">
        من خلال الترشيحات الطلابية التي يديرها وينظمها المجلس الاستشاري الطلابي يترشح الطلبة لمناصب قيادية في المجلس الاستشاري ونادي الطلاب، ليتم الاختيار القادم بناءً على تصويت الطلاب والطالبات. يهدف المجلس الاستشاري إلى تعزيز الشراكة مع إدارة الجامعة في شؤون الجامعة الأكاديمية والطلابية؛ لتهيئة بيئة طلابية متميزة تنمي انتماء الطالب والطالبة وثقتهما بالبيئة الجامعية. يتمثل دور أعضاء وعضوات المجلس الاستشاري في تمثيل طلاب وطالبات كلياتهم، وإيصال أصواتهم، والمساهمة في اتخاذ القرارات، وصناعة المشاريع المثمرة لخدمتهم.
    <br>
    <strong>كونوا جزءًا من القرار!</strong>
</p>
</div>
</div>
{% if user_nominations.exists %}

<p>تمّ الترشّح للمناصب التالية:</p>
{% for nomination in user_nominations %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><a href="{% url 'voting:show_nomination' nomination.position.pk nomination.pk %}">{{ nomination.position.title }}</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
{% else %}

<p class="alert alert-warning" style="font-size: 18px; color: black;">
• يحق لطلاب وطالبات السنة الثانية من البرنامج التحضيري الترشّح لتمثيل كليات تخصصاتهم وتخصصاتهن.
<br>
• يحق فقط لطلاب وطالبات السنة الأخيرة من التخصصات الترشّح لتمثيل سنة الامتياز.
</p>

{% for position in positions %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><a href="{% url 'voting:add_nominee' position.pk %}">{{ position.title }}</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
{% endif %}
{% endblock %}
