{% extends 'base.html' %}{% load staticfiles %}
{% block title %}استلمنا ترشّحك!{% endblock %}
{% block header %}
                        <h1>استلمنا ترشّحك!</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                        </ol>
{% endblock %}
{% block content %}
<div class="text-center">
<p style="font-size: 25px;">ستعلن أسماء المترشحين والمترشّحات يوم {{ sac_year.election_nomination_announcement_datetime|date }}!</p>
</div>
{% endblock %}



