{% extends 'base.html' %}
{% block title %}التصويت{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<div align="center">
{{ qrcode_value|safe }}
</div>

<div id="introduction">
    <p>تعليمات هامة:...</p>
<button class="btn btn-success" id="start">ابدأ التصويت!</button>
</div>

<div style="display:none;" id="voting-section">
    <h2>التصويت ل<span id="position-name">{{position_name}}</span></h2>
    <br>
    <div id="nominee-name"></div>


    <button class="submit" id="vote2">Vote</button>
<div id="nominations">
</div>
</div>



{% endblock %}
{% block customscript %}
<script>
$(document).ready(function(){

  $("#start").click(function(){
      $.ajax({
        url: "{% url 'voting:handle_vote' %}",
        method: "POST",
        success: function(data){
              $("#introduction").hide();
              $("#voting-section").show();
              $("#position-name").html(data.position_name);
              $("#nominations").html(data.nominations);

// var arrayLength = myStringArray.length;
// for (nominee in data.nominations) {



              var nominationsLength = data.nominations.length;
              for (var i = 0; i < nominationsLength; i++) {
                var label = $('<label for="nominee_name">'+data.nominations[i].nominee_name+'</label>');
                var radioBtn = $('<input type="radio" name="rbtnCount" id="nominee_name"/>');
                radioBtn.data('pk', data.nominations[i].pk);
                label.appendTo('#nominee-name');
                radioBtn.appendTo('#nominee-name');
                }
            console.log(data)
        }
      });
  });


  $("#vote").click(function(){
      // var pk = ('#nominee').data('pk')
      $.ajax({
        url: "{% url 'voting:handle_vote' %}",
        data: {pk: null},
        method: "POST",
        success: function(data){
              alert(data.message);
        }
      });
  });




});

</script>

{% endblock %}
