{% extends 'base.html' %}
{% block title %}التصويت{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<div align="center">
{{ qrcode_value|safe }}
</div>

<div id="introduction">
    <p>تعليمات هامة:...</p>
<button class="btn btn-success" id="start">ابدأ التصويت!</button>
</div>

<div style="display:none;" id="voting-section">
    <h2>التصويت ل<span id="position-name">{{position_name}}</span></h2>
    <br>
    <h3><span id="nominee-name">{{nomination.nominee_name}}</span></h3>
    <button class="submit" id="vote2">Vote</button>
<div id="nominations">
</div>
</div>



{% endblock %}
{% block customscript %}
<script>
$(document).ready(function(){

  $("#start").click(function(){
      $.ajax({
        url: "{% url 'voting:handle_vote' %}",
        method: "POST",
        success: function(data){
              $("#introduction").hide();
              $("#voting-section").show();
              $("#position-name").html(data.position_name);
              $("#nominations").html(data.nominations);

              for (nominee in data.nominations) {
                var radioBtn = $('<input type="radio" name="rbtnCount" />');
                radioBtn.appendTo('#nominee-name');
                }

        }
      });
  });


  $("#vote").click(function(){
      // var pk = ('#nominee').data('pk')
      $.ajax({
        url: "{% url 'voting:handle_vote' %}",
        data: {pk: null},
        method: "POST",
        success: function(data){
              alert(data.message);
        }
      });
  });




});

</script>

{% endblock %}
