{% extends 'base.html' %}{% load bootstrap3 %}
{% block title %}فشل تفعيل الحساب{% endblock %}

{% block header %}
                        <h1>فشلت عملية تفعيل حسابك.</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                        </ol>
{% endblock %}

{% block content %}
<p>سبب فشل تفعيل حسابك قد يكون انتهاء صلاحية رابط التفعيل الخاص بك.</p>
<p>الرجاء التواصل معنا لتلقّي المساعدة من خلال <a href="mailto:support@trabdportal.com">support@trabdportal.com</a>.</p>
{% endblock %}
