{% extends 'base.html' %}{% load bootstrap3 %}
{% block title %}حساب غير نشط{% endblock %}

{% block header %}
                        <h1>حسابك غير منشَّط</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                        </ol>
{% endblock %}

{% block content %}
<p>حسابك غير منشّط حاليًا.</p>
<p>إن بدت لك عملية غير واضحة، تفضل بالتواصل مع فريق البوّابة لمعرفة السبب: <a href="mailto:support@trabdportal.com">support@trabdportal.com</a>.</p>
{% endblock %}

