{% extends 'accounts/base.html' %}{% load bootstrap3 %}
{% block title %}حساب غير نشط{% endblock %}

{% block content_title %}
<div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-title">
                                <h3>حسابك غير منشَّط</h3>
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}

{% block content %}
<p>حسابك غير منشّط حاليًا.</p>
<p>إإن بدت لك عملية غير منصفة، تفضل بالتواصل مع الإدارة لمعرفة السبب: support@trabdportal.com .</p>
{% endblock %}

