{% extends 'accounts/base.html' %}{% load bootstrap3 %}
{% block title %}حساب معلّق{% endblock %}

{% block content_title %}
<div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-title">
                                <h3>لقد عُلّق حسابك</h3>
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}

{% block content %}
<p>لقد عُلّق حسابك.</p>
<p>إن بدت لك عملية غير منصفة، تفضل بالتواصل مع الإدارة لمعرفة السبب.</p>
{% endblock %}

