{% extends 'accounts/base.html' %}{% load bootstrap3 %}
{% block title %}تسجيل الخروج{% endblock %}

{% block content_title %}
<div class="panel panel-bd">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-title">
                                <h3>لقد سُجّل خروجك</h3>
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}

{% block content %}
<p>لقد سُجّل خروجك. إلى لقاء آخر.</p>
{% endblock %}



