{% extends 'base.html' %}{% load bootstrap3 %}
{% block title %}كاد يكتمل التسجيل!{% endblock %}

{% block header %}
                        <h1>أوشك تسجيلك على الاكتمال!</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                        </ol>
{% endblock %}

{% block content %}
<p>شكرًا على تسجيلك معنا!</p>

{% if userena_activation_required %}
<p>أُرسلت رسالة بريدإلكتروني تحتوي رابط التفعيل إلى البريد الإلكتروني المُعطى.</p>
<p>سنحافظ على بياناتك لمدة {{ userena_activation_days }} أيام.</p>
{% else  %}
<p>يمكنك الآن استعمال بياناتك المعطاة في تسجيل دخولك.</p>
{% endif %}
{% endblock %}





