{% extends 'base.html' %}{% load bootstrap3 %}
{% block title %}تسجيل الخروج{% endblock %}

{% block header %}
                        <h1>لقد سُجّل خروجك</h1>
                        <small>بوابة ترابط</small>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="pe-7s-home"></i> الرئيسية</a></li>
                        </ol>
{% endblock %}

{% block content %}
<p>لقد سُجّل خروجك. إلى لقاء آخر!</p>
{% endblock %}



